.qr-input-form {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    padding: 10px 0;
}

.qr-input-button {
    background: black;
    font-size: 24px;
    color: #f1eae4;
}

/* .qr-input-button:hover {
    color: black;
    background: #f1eae4;
} */

.qr-input-button:active {
    color: white;
    background: black;
}

