.footer {
    bottom: 0;
    width: 100%;
    padding: 15px;
    position: fixed;
    color: #e5e5e5;
    margin-top: 80px;
    text-align: center;
    background: black;
}

.footer a {
    color: #cae9ff;
}