.auth-form {
    margin: auto;
    display: flex;
    padding: 20px;
    z-index: 8000;
    max-width: 400px;
    background: #cae9ff;
    flex-direction: column;
}

.form-control {
    width: 100%;
    margin: 10px 0;
}

.form-control label {
    display: block;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 10px;
}

.form-control input {
    width: 90%;
    border: none;
    display: block;
    min-height: 26px;
    background: white;
}

.auth-form-button {
    width: 30%;
    height: 40px;
    margin: auto;
    color: white;
    font-size: 16px;
    background: black;
    margin-bottom: 10px;
}

.auth-form-button:hover{
    color: black;
    background: #d7d9ce;

}

.auth-form-button:active {
    color: white;
    background: black;
}

.redirect, .auth-error-text {
    margin: 5px 0;
}

.redirect a, .auth-error-text a {
    color: inherit;
    cursor: pointer;
    text-decoration: underline;
}

.auth-error-text a:active {
    color: #cae9ff;
}