.auth-form {
    left: 30%;
    right: 30%;
    display: flex;
    padding: 20px;
    z-index: 8000;
    max-width: 40%;
    font-size: 24px;
    position: fixed;
    overflow: hidden;
    align-items: center;
    background: #cae9ff;
    flex-direction: column;
    border: 2px solid gray;
} 

@media (max-width: 1000px) {
    .auth-form {
        max-width: 50%;
        left: 25%;
        right: 25%;
    }
}

@media (max-width: 750px) {
    .auth-form {
        max-width: 70%;
        left: 15%;
        right: 15%;
    }
}

@media (max-width: 600px) {
    .auth-form {
        max-width: 80%;
        left: 10%;
        right: 10%;
    }
}

.form-control {
    width: 100%;
    margin: 10px 0;
}

.form-control label {
    display: block;
    font-size: 24px;
    margin-bottom: 10px;
}

.form-control input {
    width: 90%;
    border: none;
    display: block;
    font-size: 20px;
    min-height: 26px;
    background: white;
}

.auth-form-button {
    width: 30%;
    height: 40px;
    margin: auto;
    color: white;
    font-size: 24px;
    background: black;
    margin-bottom: 10px;
}

.auth-form-button:hover{
    color: black;
    background: #d7d9ce;

}

.auth-form-button:active {
    color: white;
    background: black;
}

.valid {
    color: rgb(5, 238, 5);
}

.invalid {
    color: rgb(243, 5, 5);
}

.instruction {
    color: black;
    font-size: 18px;
    margin-top: 10px;
}

.redirect, .auth-error-text {
    margin: 5px 0;
}

.redirect a, .auth-error-text a {
    color: inherit;
    cursor: pointer;
    text-decoration: underline;
}

.auth-error-text a:active {
    color: #cae9ff;
}

.error-message {
    padding: 5px 0;
    margin-top: 15px;
    color: rgb(243, 5, 5);
    background: rgba(0, 0, 0, 0.06);
}

.hide {
    display: none;
}

.redirect{
    font-size: 18px;
}

.cancel-button {
    width: 60px;
    font-size: 18px;
    padding: 5px;
    text-align: left;
    margin-top: 15px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.06);
}

