* {
    margin: 0;
    font-family: Helvetica, sans-serif;
    list-style-type: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient( 65deg, #5fa8d3 10%, #62b6cb );
    padding-bottom: 90px;
}

a {
    text-decoration: none;
}

button {
    border: none;
}