* {
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Helvetica, sans-serif;
}

body {
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient( 63deg, #5fa8d3, #62b6cb );
}

a {
    text-decoration: none;
}

button {
    border: none;
}