* {
    margin: 0;
    font-family: Helvetica, sans-serif;
    list-style-type: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient( 65deg, #13829e 10%, #4ea1d4 );
}

a {
    text-decoration: none;
}