.nav {
    top: 0;
    width: 100%;
    padding: 10px;
    z-index: 7000;
    position: fixed;
    font-size: 28px;
    background: white;
}

.nav-items {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

/* @media (max-width: 440px) {
    .nav {}
    .nav-items {}
    .nav-item {}
} */

.nav-items .logo-text {
    cursor: pointer;
    font-size: 30px;
    font-weight: 800;
}

.nav-items .logo-text #qr-text {
    color: rgb(245, 98, 0);
}

.nav-items .logo-text #qr-text,  .nav-items .logo-text #code-text{
    font-family: 'Schoolbell', cursive;
}

.nav-items .logo-text #bubble {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%; 
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1), 
    inset 0px 10px 30px 5px rgb(245, 98, 0);
}

.nav-items .nav-item .nav-button {
    width: 80px;
    height: 40px;
    color: black;
    cursor: pointer; 
    font-size: 20px;
    font-weight: 400;
    background: white; 
}

.nav-items .nav-item .nav-button a {
    color: black;
}

.nav-items .nav-item .nav-button:hover a {
    color: white;
}

.nav-item .nav-button:hover {
    color: white;
    background: black; 
}

.nav-item .nav-button:nth-child(1) {
    margin-right: 30px;
}

.nav-item .nav-button:nth-child(2) {
    background: black;
    color: white;
}

.nav-item .nav-button:nth-child(2) a {
    color: white;
}